<script>
    import {addNewItem} from '$lib/stores/listStore'
    
    let newItemName = "";
    let newItemPrice = "";
  
    function addItem() {
      if (newItemName.trim() !== "" && !isNaN(parseFloat(newItemPrice))) {
        const newItem = {
          name: newItemName,
          price: parseFloat(newItemPrice),
          crossed: false
        };
        newItemName = "";
        newItemPrice = "";
        addNewItem(newItem);
      }
    }
  </script>
  
  <div class="add-item">
    <input
      type="text"
      placeholder="Item name"
      bind:value={newItemName}
    />
    <input
      type="number"
      placeholder="Item price"
      step="0.01"
      bind:value={newItemPrice}
    />
    <button on:click={addItem}>Add</button>
  </div>
  
  <style>
    .add-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      padding: 10px;
      border-top: 1px solid #ccc;
    }
  
    input {
      flex: 1;
      padding: 5px;
    }
  
    button {
      margin-left: 10px;
      background-color: #008cff;
      color: white;
      border: none;
      cursor: pointer;
    }
  </style>
  