<script>
    import { deleteItem, switchCrossedOut} from "$lib/stores/listStore";
    
    export let id ;
    export let itemName;
    export let itemPrice;
    export let crossedOut = false;

    function handelDelete(){
      console.log("delete")
      deleteItem(id);
    }

    function toggleCrossedOut() {
      crossedOut = !crossedOut;
      switchCrossedOut(id);
    }
  </script>
  
  <div class="item" >
    <div class=left on:click={toggleCrossedOut}>
      <span class="name" class:crossed-out={crossedOut} >{itemName}</span>
      <span class="divider"></span>
      <span class="price" class:crossed-out={crossedOut} >{itemPrice}€</span>
    </div>
    <div>
      <span class="divider"></span>
      <button on:click={handelDelete} class="button">Delete</button>
    </div>
  </div>
  
  <style>
    .left{
      flex:2;
      display: flex;
    }
    .item {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      cursor: pointer;

    }

    .name .price{
      font-weight: bold;
    }

    .name {
      flex: 1;
    }

    .price {
      min-width: 3rem;
      color: #007bff;
      text-align: right;
    }
  
    .divider {
        vertical-align: middle;
        display: inline-block;
        min-width: 0.1em;
        min-height: 1rem;
        background-color: lightgray;   
        margin-left: 1rem;
    }
  
    .button {
      margin-left: 10px;
      background-color: #ff0000;
      color: white;
      border: none;
      cursor: pointer;
    }
  
    .crossed-out {
      text-decoration: line-through;
      color: #aaa;
    }
  </style>
  