<script>
    import { jsonStore } from '$lib/stores/listStore';

    let crossedList = [];

    const unsubscribe = jsonStore.subscribe((map) => {
        crossedList = Array.from(map.values()).filter(item => item.crossed);
    });

</script>

<div>
    <ul>
        {#each crossedList as item}
            <li>{item.name}</li>
        {/each} 
    </ul>
</div>
