<script>
    import Item from "$lib/components/item/item.svelte";
    import AddItem from "$lib/components/item/addItem.svelte";
    import { jsonStore } from "$lib/stores/listStore";

  let shoppingList = [];
  
	const unsubscribe = jsonStore.subscribe((value) => {
		shoppingList = value;
	});

</script>
  
  <div class="shopping-list">
    {#each shoppingList as item}
    <Item
      id = {item[0]}
      itemName={item[1].name}
      itemPrice={item[1].price}
    />
  {/each} 

    <AddItem/>
  </div>